<!-- 类型：text、number、textarea、date、month、week、datetime、datetime-local、time、email、url、range、search、color (忽略属性：size form label) -->
<el-input
        v-if="['text','number','textarea','date','month','week','datetime','datetime-local','time','email','url','range','search','color'].indexOf(itemModel.type) != -1"
        :type="itemModel.type"
        v-model="scope.row[itemModel.data_key]"
        :title="itemModel.title({value: scope.row[itemModel.data_key], itemModel : itemModel, $model : scope.row})"
        :name="itemModel.name"
        :value="itemModel.value"
        :minlength="itemModel.minlength"
        :maxlength="itemModel.maxlength"
        :min="itemModel.min"
        :max="itemModel.max"
        :step="itemModel.step"
        :prefix-icon="itemModel.prefix_icon"
        :suffix-icon="itemModel.suffix_icon || ' '"
        :auto-complete="itemModel.auto_complete"
        :autofocus="itemModel.autofocus"
        :tabindex="itemModel.tabindex"
        :readonly="itemModel.readonly"
        :disabled="itemModel.disabled"
        :clearable="itemModel.clearable && !itemModel.readonly && !itemModel.disabled"
        :rows="itemModel.rows"
        :resize="itemModel.resize"
        :autosize="itemModel.autosize"
        :placeholder="itemModel.placeholder"
        :size="viewModel.size"
        :class="'input-edit ' + itemModel.class"
        :style="'min-width:35px;' + (itemModel.style || '') + (!viewModel.form_auto_width && itemModel.item_width ? '; width:' + itemModel.item_width + 'px;' : '')"
        @change="itemModel.events.change({data_key : itemModel.data_key, value : $event, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})"
        @blur="itemModel.events.blur({data_key : itemModel.data_key, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})"
        @focus="itemModel.events.focus({data_key : itemModel.data_key, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})">
</el-input>

<!-- 类型：scaler (忽略属性：size label) -->
<el-input-number v-if="itemModel.type == 'scaler'"
                 :type="itemModel.type"
                 v-model="scope.row[itemModel.data_key]"
                 :title="itemModel.title({value: scope.row[itemModel.data_key], itemModel : itemModel, $model : scope.row})"
                 :name="itemModel.name"
                 :value="itemModel.value"
                 :min="itemModel.min"
                 :max="itemModel.max"
                 :step="itemModel.step"
                 :debounce="itemModel.debounce"
                 :controls="itemModel.controls"
                 :controls-position="itemModel.controls_position"
                 :disabled="itemModel.disabled"
                 :size="viewModel.size"
                 :class="'input-edit ' + itemModel.class"
                 :style="(itemModel.style || '') + (!viewModel.form_auto_width && itemModel.item_width ? '; width:' + itemModel.item_width + 'px;' : '')"
                 @change="itemModel.events.change({data_key : itemModel.data_key, value : $event, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})"
                 @blur="itemModel.events.blur({data_key : itemModel.data_key, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})"
                 @focus="itemModel.events.focus({data_key : itemModel.data_key, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})">
</el-input-number>

<!-- 类型：radio (忽略属性：size) -->
<el-radio-group v-if="itemModel.type == 'radio'"
                :type="itemModel.type"
                v-model="scope.row[itemModel.data_key]"
                :title="itemModel.title({value: scope.row[itemModel.data_key], itemModel : itemModel, $model : scope.row})"
                :text-color="itemModel.text_color"
                :fill="itemModel.fill"
                :disabled="itemModel.disabled"
                :size="viewModel.size"
                :class="'input-edit ' + itemModel.class"
                :style="(itemModel.style || '') + (!viewModel.form_auto_width && itemModel.item_width ? '; width:' + itemModel.item_width + 'px;' : '')"
                @change="itemModel.events.change({data_key : itemModel.data_key, value : $event, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})">
    <el-radio v-for="option in itemModel.options"
              v-show="option[itemModel.option_hide_key] != true"
              :key="option[itemModel.option_key]"
              :label="option[itemModel.option_key]"
              :disabled="option[itemModel.option_disabled_key]">
        {{option[itemModel.option_label]}}
    </el-radio>
</el-radio-group>

<!-- 类型：checkbox (忽略属性：size) -->
<el-checkbox-group v-if="itemModel.type == 'checkbox'"
                   :type="itemModel.type"
                   v-model="scope.row[itemModel.data_key]"
                   :title="itemModel.title({value: scope.row[itemModel.data_key], itemModel : itemModel, $model : scope.row})"
                   :min="itemModel.min"
                   :max="itemModel.max"
                   :text-color="itemModel.text_color"
                   :fill="itemModel.fill"
                   :disabled="itemModel.disabled"
                   :size="viewModel.size"
                   :class="'input-edit ' + itemModel.class"
                   :style="(itemModel.style || '') + (!viewModel.form_auto_width && itemModel.item_width ? '; width:' + itemModel.item_width + 'px;' : '')"
                   @change="itemModel.events.change({data_key : itemModel.data_key, value : $event, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})">
    <el-checkbox v-for="option in itemModel.options"
                 v-show="option[itemModel.option_hide_key] != true"
                 :key="option[itemModel.option_key]"
                 :label="option[itemModel.option_key]"
                 :disabled="option[itemModel.option_disabled_key]">
        {{option[itemModel.option_label]}}
    </el-checkbox>
</el-checkbox-group>

<!-- 类型：select (忽略属性：size) -->
<el-select v-if="itemModel.type == 'select'"
           :type="itemModel.type"
           v-model="scope.row[itemModel.data_key]"
           :title="itemModel.title({value: scope.row[itemModel.data_key], itemModel : itemModel, $model : scope.row})"
           :name="itemModel.name"
           :value-key="itemModel.select_value_key"
           :multiple="itemModel.multiple"
           :multiple-limit="itemModel.multiple_limit"
           :collapse-tags="itemModel.collapse_tags"
           :filterable="itemModel.filterable"
           :allow-create="itemModel.allow_create"
           :filter-method="itemModel.filter_method"
           :remote="itemModel.remote"
           :remote-method="itemModel.remote_method"
           :loading="itemModel.loading"
           :loading-text="itemModel.loading_text"
           :no-match-text="itemModel.no_match_text"
           :no-data-text="itemModel.no_data_text"
           :popper-class="itemModel.popper_class"
           :reserve-keyword="itemModel.reserve_keyword"
           :default-first-option="itemModel.default_first_option"
           :readonly="itemModel.readonly"
           :disabled="itemModel.disabled"
           :clearable="itemModel.clearable && !itemModel.readonly && !itemModel.disabled"
           :placeholder="itemModel.placeholder"
           :size="viewModel.size"
           :class="'input-edit ' + itemModel.class"
           :style="(itemModel.style || '') + (!viewModel.form_auto_width && itemModel.item_width ? '; width:' + itemModel.item_width + 'px;' : '')"
           @change="itemModel.events.change({data_key : itemModel.data_key, value : $event, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})"
           @visible-change="itemModel.events.visibleChange"
           @remove-tag="itemModel.events.removeTag"
           @clear="itemModel.events.clear({data_key : itemModel.data_key, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})"
           @blur="itemModel.events.blur({data_key : itemModel.data_key, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})"
           @focus="itemModel.events.focus({data_key : itemModel.data_key, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})">
    <el-option v-for="option in itemModel.options"
               v-show="option[itemModel.option_hide_key] != true"
               :key="option[itemModel.option_key]"
               :label="option[itemModel.option_label]"
               :value="option[itemModel.option_key]"
               :disabled="option[itemModel.option_disabled]">
    </el-option>
</el-select>

<!-- 类型：cascader (忽略属性：size) -->
<el-cascader v-if="itemModel.type == 'cascader'"
             :type="itemModel.type"
             v-model="scope.row[itemModel.data_key]"
             :title="itemModel.title({value: scope.row[itemModel.data_key], itemModel : itemModel, $model : scope.row})"
             :name="itemModel.name"
             :value="itemModel.value"
             :options="itemModel.options"
             :props="itemModel.props"
             :separator="itemModel.separator"
             :popper-class="itemModel.popper_class"
             :expand-trigger="itemModel.expand_trigger"
             :show-all-levels="itemModel.show_all_levels"
             :before-filter="itemModel.before_filter"
             :filterable="true"
             :debounce="itemModel.debounce"
             :change-on-select="itemModel.change_on_select"
             :readonly="itemModel.readonly"
             :disabled="itemModel.disabled"
             :clearable="itemModel.clearable && !itemModel.readonly && !itemModel.disabled"
             :placeholder="itemModel.placeholder"
             :size="viewModel.size"
             :class="'input-edit ' + itemModel.class"
             :style="(itemModel.style || '') + (!viewModel.form_auto_width && itemModel.item_width ? '; width:' + itemModel.item_width + 'px;' : '')"
             @change="itemModel.events.change({data_key : itemModel.data_key, value : $event, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})"
             @activeItemChange="itemModel.events.activeItemChange">
</el-cascader>

<!-- 类型：switch -->
<el-switch v-if="itemModel.type == 'switch'"
           :type="itemModel.type"
           v-model="scope.row[itemModel.data_key]"
           :title="itemModel.title({value: scope.row[itemModel.data_key], itemModel : itemModel, $model : scope.row})"
           :name="itemModel.name"
           :active-text="itemModel.active_text"
           :inactive-text="itemModel.inactive_text"
           :active-value="itemModel.active_value"
           :inactive-value="itemModel.inactive_value"
           :active-color="itemModel.active_color"
           :inactive-color="itemModel.inactive_color"
           :active-icon-class="itemModel.active_icon_class"
           :inactive-icon-class="itemModel.inactive_icon_class"
           :disabled="itemModel.disabled"
           :width="itemModel.width"
           :size="viewModel.size"
           :class="'input-edit ' + itemModel.class"
           :style="(itemModel.style || '') + (!viewModel.form_auto_width && itemModel.item_width ? '; width:' + itemModel.item_width + 'px;' : '')"
           @change="itemModel.events.change({data_key : itemModel.data_key, value : $event, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})">
</el-switch>

<!-- 类型：slider (忽略属性：label) -->
<el-slider v-if="itemModel.type == 'slider'"
           :type="itemModel.type"
           v-model="scope.row[itemModel.data_key]"
           :title="itemModel.title({value: scope.row[itemModel.data_key], itemModel : itemModel, $model : scope.row})"
           :min="itemModel.min"
           :max="itemModel.max"
           :step="itemModel.step"
           :show-input="itemModel.show_input"
           :show-input-controls="itemModel.show_input_controls"
           :show-stops="itemModel.show_stops"
           :show-tooltip="itemModel.show_tooltip"
           :format-tooltip="itemModel.format_tooltip"
           :range="itemModel.range"
           :vertical="itemModel.vertical"
           :debounce="itemModel.debounce"
           :disabled="itemModel.disabled"
           :height="itemModel.height"
           :size="viewModel.size"
           :class="'input-edit ' + itemModel.class"
           :style="'margin-left: 5px;' + (itemModel.style || '') + (!viewModel.form_auto_width && (itemModel.item_width - 5) ? '; width:' + (itemModel.item_width - 5) + 'px;' : '')"
           @change="itemModel.events.change({data_key : itemModel.data_key, value : $event, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})">
</el-slider>

<!-- 类型：rate -->
<el-rate v-if="itemModel.type == 'rate'"
         :type="itemModel.type"
         v-model="scope.row[itemModel.data_key]"
         :title="itemModel.title({value: scope.row[itemModel.data_key], itemModel : itemModel, $model : scope.row})"
         :max="itemModel.max"
         :allow-half="itemModel.allow_half"
         :low-threshold="itemModel.low_threshold"
         :high-threshold="itemModel.high_threshold"
         :colors="itemModel.colors"
         :void-color="itemModel.void_color"
         :disabled-void-color="itemModel.disabled_void_color"
         :icon-classes="itemModel.icon_classes"
         :void-icon-class="itemModel.void_icon_class"
         :disabled-void-icon-class="itemModel.disabled_void_icon_class"
         :show-text="itemModel.show_text"
         :show-score="itemModel.show_score"
         :text-color="itemModel.text_color"
         :texts="itemModel.texts"
         :score-template="itemModel.score_template"
         :disabled="itemModel.disabled"
         :placeholder="itemModel.placeholder"
         :size="viewModel.size"
         :class="'input-edit ' + itemModel.class"
         :style="(itemModel.style || '') + (!viewModel.form_auto_width && itemModel.item_width ? '; width:' + itemModel.item_width + 'px;' : '')"
         @change="itemModel.events.change({data_key : itemModel.data_key, value : $event, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})">
</el-rate>

<!-- 类型：time-select (忽略属性：size) -->
<el-time-select v-if="itemModel.type == 'time-select'"
                :type="itemModel.type"
                v-model="scope.row[itemModel.data_key]"
                :title="itemModel.title({value: scope.row[itemModel.data_key], itemModel : itemModel, $model : scope.row})"
                :name="itemModel.name"
                :value="itemModel.value"
                :default-value="itemModel.default_value"
                :editable="itemModel.editable"
                :is-range="itemModel.is_range"
                :arrow-control="itemModel.arrow_control"
                :align="itemModel.align"
                :popper-class="itemModel.popper_class"
                :picker-options="itemModel.picker_options"
                :range-separator="itemModel.range_separator"
                :value-format="itemModel.value_format"
                :readonly="itemModel.readonly"
                :disabled="itemModel.disabled"
                :clearable="itemModel.clearable && !itemModel.readonly && !itemModel.disabled"
                :start-placeholder="itemModel.start_placeholder"
                :end-placeholder="itemModel.end_placeholder"
                :placeholder="itemModel.placeholder"
                :size="viewModel.size"
                :class="'input-edit ' + itemModel.class"
                :style="(itemModel.style || '') + (!viewModel.form_auto_width && itemModel.item_width ? '; width:' + itemModel.item_width + 'px;' : '')"
                @change="itemModel.events.change({data_key : itemModel.data_key, value : $event, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})"
                @blur="itemModel.events.blur({data_key : itemModel.data_key, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})"
                @focus="itemModel.events.focus({data_key : itemModel.data_key, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})">
</el-time-select>

<!-- 类型：time-picker (忽略属性：size) -->
<el-time-picker v-if="itemModel.type == 'time-picker'"
                :type="itemModel.type"
                v-model="scope.row[itemModel.data_key]"
                :title="itemModel.title({value: scope.row[itemModel.data_key], itemModel : itemModel, $model : scope.row})"
                :name="itemModel.name"
                :value="itemModel.value"
                :default-value="itemModel.default_value"
                :editable="itemModel.editable"
                :is-range="itemModel.is_range"
                :arrow-control="itemModel.arrow_control"
                :align="itemModel.align"
                :popper-class="itemModel.popper_class"
                :picker-options="itemModel.picker_options"
                :range-separator="itemModel.range_separator"
                :value-format="itemModel.value_format"
                :unlink-panels="itemModel.unlink_panels"
                :readonly="itemModel.readonly"
                :disabled="itemModel.disabled"
                :clearable="itemModel.clearable && !itemModel.readonly && !itemModel.disabled"
                :start-placeholder="itemModel.start_placeholder"
                :end-placeholder="itemModel.end_placeholder"
                :placeholder="itemModel.placeholder"
                :size="viewModel.size"
                :class="'input-edit ' + itemModel.class"
                :style="(itemModel.style || '') + (!viewModel.form_auto_width && itemModel.item_width ? '; width:' + itemModel.item_width + 'px;' : '')"
                @change="itemModel.events.change({data_key : itemModel.data_key, value : $event, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})"
                @blur="itemModel.events.blur({data_key : itemModel.data_key, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})"
                @focus="itemModel.events.focus({data_key : itemModel.data_key, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})">
</el-time-picker>

<!-- 类型：date-picker (忽略属性：size) -->
<el-date-picker v-if="itemModel.type == 'date-picker'"
                :type="itemModel.date_type"
                v-model="scope.row[itemModel.data_key]"
                :title="itemModel.title({value: scope.row[itemModel.data_key], itemModel : itemModel, $model : scope.row})"
                :name="itemModel.name"
                :value="itemModel.value"
                :default-value="itemModel.default_value"
                :editable="itemModel.editable"
                :align="itemModel.align"
                :popper-class="itemModel.popper_class"
                :picker-options="itemModel.picker_options"
                :range-separator="itemModel.range_separator"
                :format="itemModel.format"
                :value-format="itemModel.value_format"
                :unlink-panels="itemModel.unlink_panels"
                :readonly="itemModel.readonly"
                :disabled="itemModel.disabled"
                :clearable="itemModel.clearable && !itemModel.readonly && !itemModel.disabled"
                :start-placeholder="itemModel.start_placeholder"
                :end-placeholder="itemModel.end_placeholder"
                :placeholder="itemModel.placeholder"
                :size="viewModel.size"
                :class="'input-edit ' + itemModel.class"
                :style="(itemModel.style || '') + (!viewModel.form_auto_width && itemModel.item_width ? '; width:' + itemModel.item_width + 'px;' : '')"
                @change="itemModel.events.change({data_key : itemModel.data_key, value : $event, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})"
                @blur="itemModel.events.blur({data_key : itemModel.data_key, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})"
                @focus="itemModel.events.focus({data_key : itemModel.data_key, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})">

</el-date-picker>

<!-- 类型：color-picker (忽略属性：size) -->
<el-color-picker v-if="itemModel.type == 'color-picker'"
                 :type="itemModel.date_type"
                 v-model="scope.row[itemModel.data_key]"
                 :title="itemModel.title({value: scope.row[itemModel.data_key], itemModel : itemModel, $model : scope.row})"
                 :name="itemModel.name"
                 :show-alpha="itemModel.show_alpha"
                 :default-value="itemModel.default_value"
                 :color-format="itemModel.color_format"
                 :popper-class="itemModel.popper_class"
                 :readonly="itemModel.readonly"
                 :disabled="itemModel.disabled"
                 :clearable="itemModel.clearable && !itemModel.readonly && !itemModel.disabled"
                 :size="viewModel.size"
                 :class="'input-edit ' + itemModel.class"
                 :style="'min-width:35px;' + (itemModel.style || '') + (!viewModel.form_auto_width && itemModel.item_width ? '; width:' + itemModel.item_width + 'px;' : '')"
                 @change="itemModel.events.change({data_key : itemModel.data_key, value : $event, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})"
                 @active-change="itemModel.events.activechange">
</el-color-picker>

<!-- 类型：ref (忽略属性：size form label)-->
<el-input v-if="itemModel.type == 'ref'"
          :type="itemModel.type"
          v-model="scope.row[itemModel.data_key]"
          :title="itemModel.title({value: scope.row[itemModel.data_key], itemModel : itemModel, $model : scope.row})"
          :name="itemModel.name"
          :value="itemModel.value"
          :minlength="itemModel.minlength"
          :maxlength="itemModel.maxlength"
          :min="itemModel.min"
          :max="itemModel.max"
          :step="itemModel.step"
          :prefix-icon="itemModel.prefix_icon"
          :suffix-icon="itemModel.suffix_icon"
          :auto-complete="itemModel.auto_complete"
          :autofocus="itemModel.autofocus"
          :tabindex="itemModel.tabindex"
          :readonly="itemModel.readonly"
          :disabled="itemModel.disabled"
          :clearable="itemModel.clearable && !itemModel.disabled"
          :rows="itemModel.rows"
          :resize="itemModel.resize"
          :autosize="itemModel.autosize"
          :placeholder="itemModel.placeholder"
          :size="viewModel.size"
          :class="'input-edit ref-input ' + itemModel.class"
          :style="(itemModel.style || '') + (!viewModel.form_auto_width && itemModel.item_width ? '; width:' + itemModel.item_width + 'px;' : '')"
          @change="itemModel.events.change({data_key : itemModel.data_key, value : $event, itemModel : itemModel, app : _self, scope : scope, $model : scope.row})">
    <el-button slot="append" icon="el-icon-search"
               @click="itemModel.events.showRefModel({itemModel : itemModel, app : _self, scope : scope, $model : scope.row})"></el-button>
</el-input>